:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f6f7fb;
  color: #213547;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  display: block;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #f253d2;
}
